@charset "UTF-8";

body {
    display: flex;
    justify-content: space-around;
}

.main {
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    margin-right: 30%;
    font-family: 'Kaisei Opti', serif;
}

h1 {
    margin-bottom: 0;
    border-bottom: 5px dotted #9AAFDE;
    display: inline-block;
}


table {
    width: 450px;
    height: 300px;
    font-size: 20px;
    border: 0.5px double rgb(122, 120, 120);
}

tr {
    background-color: rgb(245, 241, 241);
}

tr:first-child {
    font-weight: bold;
    font-size: 18px;
        background-color: #9AAFDE;
    height: 35px;
}

td {
    padding: 0;
    font-size: 17px;
    border: 0.5px solid rgb(122, 120, 120);
}

td:first-child {
    color: rgb(230, 70, 70);
}

td:last-child {
    color: rgb(53, 87, 199);
}

td.date {
    background-color: #DEB7AF;
    font-weight: bold;
}

td.date:hover{
    background-color: #b78f88;
}

.btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.btn button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: rgb(245, 241, 241); 
    background-color: #9AAFDE;
    border: 1px solid rgb(122, 120, 120);
    border-radius: 50%;
}

.btn button:hover {
    background-color: #566991;
    color:  rgb(180, 179, 179);
}

#prev {
    margin-right: 250px;
}

.aside {
    margin: auto;
}

textarea {
    margin-top: 40px;
    resize: none;
    width: 300px;
    height: 530px;
    font-size: 15px;
    font-family: serif;
    border: 1pt solid rgb(122, 120, 120);
}

textarea:hover {
    border: 2pt solid rgb(151, 150, 150);
}

.noteBtn {
    display: flex;
    justify-content: flex-start;
}

#delateBtn {
    margin-right: 5px;
    width: 28px;
    height: 28px;
    font-size: 23px;
    background-color: #DEB7AF;
    border: 1.5px solid rgb(122, 120, 120);
}

#delateBtn:hover{
    background-color: #b78f88;
}

#saveBtn {
    margin-right: 5px;
    width: 55px;
    height: 28px;
    background-color: rgb(245, 241, 241);
    border: 1.5px solid rgb(122, 120, 120);
}

#saveBtn:hover {
    background-color: rgb(212, 212, 212);
}

#viewBtn {
    margin-right: 5px;
    width: 55px;
    height: 28px;
    background-color: rgb(245, 241, 241);
    border: 1.5px solid rgb(122, 120, 120);
}

#viewBtn:hover {
    background-color: rgb(212, 212, 212);
}

.delate {
    display: none;
}





